@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-VariableFont_wght.ttf");
}

html {
  font-size: 100%;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-image: url("../img/bg_001.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.nav {
  padding-left: 55%;
  width: 100%;
  position: absolute;
  top: 5%;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: whitesmoke;
  display: inline-block;
  padding: ;
}

.logo {
  width: 130px;
  height: auto;
  margin: 6px;
  border: 5%;
  padding-left: 20%;
}
.whitePhone {
  position: relative;
  width: 150px;
  height: auto;
  object-fit: cover;
  padding-left: 50rem;
  padding-top: -10mm;
  object-fit: cover;
}

.blackPhone {
  padding-bottom: 10rem;
  position: absolute;
  width: 150px;
  height: auto;
  padding-left: 55rem;
  object-fit: cover;
}
